body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    overflow-x: hidden;
}

.container {
    display: flex;
    margin: auto;
    width: 85%;
}

/* Início do Banner 1 */

.banner1 {
    height: 900px;
    background-image: url("../images/bannerPrincipal.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: #ed8975 solid 2px;
}

.banner1 .container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.banner1 p {
    color: #f2d096;
    border-left: #b2e7e8 solid 15px;
    border-radius: 15px;
    padding: 3%;
    font-size: 120px;
    font-style: italic;
    margin-left: 3%;
}

.banner1 p:hover {
    transform: scale(1.02);
    border-left: #ed8975 solid 15px;
    border-radius: 0px;
    transition: 0.3s;
}

.banner1 p:not(:hover) {
    transform: scale(1);
    border-left: #b2e7e8 solid 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.banner1 b {
    color: #ed8975;
}

/* Fim do Banner 1 */

/* Início do "Sobre o Porjeto" */

.sobreProjeto {
    display: flex;
    align-items: center;
    background-color: #304d63;
    height: 1000px;
    border-bottom: #ed8975 solid 2px;
}

.sobreProjeto .container {
    display: flex;
    flex-direction: column;
}

.sobreProjeto h1 {
    color: #b2e7e8;
    font-size: 62px;
    border-left: #b2e7e8 solid 8px;
    padding-left: 3%;
    border-radius: 8px;
    font-style: italic;
}

.sobreProjeto h1:hover {
    transform: translateY(-4px);
    color: #ed8975;
    border-left: #ed8975 solid 8px;
    border-radius: 0px;
    transition: 0.3s;
}

.sobreProjeto h1:not(:hover) {
    transform: translateY(4px);
    color: #b2e7e8;
    border-left: #b2e7e8 solid 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.sobreProjeto p {
    color: #f2d096;
    font-size: 35px;
    text-align: justify;
}

.sobreProjeto p b {
    color: #ed8975;
}

/* Fim do "Sobre o Porjeto" */

/* Início do "Jogos Clicker / Idle" */

.jogosClicker {
    display: flex;
    background-color: #323232;
    height: 2600px;
    align-items: center;
    border-bottom: #ed8975 solid 2px;
}

.jogosClicker .container {
    flex-direction: column;
}

.jogosClicker h1 {
    color: #b2e7e8;
    font-size: 62px;
    border-left: #b2e7e8 solid 8px;
    padding-left: 3%;
    border-radius: 8px;
    font-style: italic;
}

.jogosClicker h1:hover {
    transform: translateY(-4px);
    color: #ed8975;
    border-radius: 0px;
    border-left: #ed8975 solid 8px;
    transition: 0.3s;
}

.jogosClicker h1:not(:hover) {
    transform: translateY(4px);
    color: #b2e7e8;
    border-radius: 8px;
    border-left: #b2e7e8 solid 8px;
    transition: 0.3s;
}

.jogosClicker p {
    color: #f2d096;
    font-size: 35px;
    text-align: justify;
}

.jogosClicker .subTitulo {
    color: #b2e7e8;
    font-size: 40px;
    font-style: italic;
}

.jogosClicker .subTitulo:hover {
    color: #ed8975;
    transition: 0.3s;
}

.jogosClicker .subTitulo:not(:hover) {
    color: #b2e7e8;
    transition: 0.3s;
}

.jogosClicker p span {
    color: #ed8975;
    font-weight: bold;
}

.jogosClicker .listaJogos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5%;
    align-items: center;
    height: 100%;
}

.jogosClicker .listaJogos a {
    font-size: 35px;
    text-decoration: none;
    color: #b2e7e8;
    font-weight: bolder;
    border-bottom: #b2e7e8 solid 8px;
    border-radius: 8px;
    padding-bottom: 0.2%;
    text-align: center;
}

.jogosClicker .listaJogos a:hover {
    color: #ed8975;
    border-bottom: #ed8975 solid 8px;
    border-radius: 0px;
    transform: scale(1.1);
    transition: 0.3s;
}

.jogosClicker .listaJogos a:not(:hover) {
    color: #b2e7e8;
    border-bottom: #b2e7e8 solid 8px;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.3s;
}

.jogosClicker .line {
    color: #8fb9aa;
}

/* Fim do "Jogos Clicker / Idle" */

/* Início do "Teste de Click" */

.testeClick {
    background-color: #304d63;
    height: 1100px;
    border-bottom: #ed8975 solid 2px;
}

.testeClick .container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.testeClick h1 {
    color: #b2e7e8;
    font-size: 62px;
    border-left: #b2e7e8 solid 8px;
    padding-left: 3%;
    border-radius: 8px;
    font-style: italic;
}

.testeClick h1:hover {
    transform: translateY(-4px);
    color: #ed8975;
    border-radius: 0px;
    border-left: #ed8975 solid 8px;
    transition: 0.3s;
}

.testeClick h1:not(:hover) {
    transform: translateY(4px);
    color: #b2e7e8;
    border-radius: 8px;
    border-left: #b2e7e8 solid 8px;
    transition: 0.3s;
}

.testeClick p {
    color: #f2d096;
    font-size: 35px;
    text-align: justify;
}

.testeClick p span {
    color: #ed8975;
    font-weight: bold;
}

.testeClick #btnClicar {
    height: 50%;
    border-radius: 20px;
    border: #ed8975 solid 2px;
    font-size: 60px;
    -webkit-text-stroke: #ed8975 1px;
    font-weight: bold;
    color: #f2d096;
    background-color: #8fb9aa;
}

.testeClick #btnClicar:hover {
    cursor: pointer;
    border: #b2e7e8 solid 2px;
    font-size: 65px;
    -webkit-text-stroke: #b2e7e8 1px;
    color: #ed8975;
    background-color: #f2d096;
    transition: 0.2s;
}

.testeClick #btnClicar:not(:hover) {
    border: #ed8975 solid 2px;
    font-size: 60px;
    -webkit-text-stroke: #ed8975 1px;
    font-weight: bold;
    color: #f2d096;
    background-color: #8fb9aa;
    transition: 0.3s;
}

.testeClick #btnReiniciar {
    
}

.testeClick #timer {
    display: flex;
    justify-content: center;
    font-size: 62px;
    background-color: #ed8975;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    border: #b2e7e8 solid 2px;
    color: #304d63;
}

/* Fim do "Teste de Click" */



