body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin: auto;
    width: 85%;
}

/* Início do Banner 1 */

.banner1 {
    height: 900px;
    background-image: url("../images/bannerPrincipal.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: #ed8975 solid 2px;
}

.banner1 .container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.banner1 p {
    color: #f2d096;
    border-left: #b2e7e8 solid 15px;
    border-radius: 15px;
    padding: 3%;
    font-size: 120px;
    font-style: italic;
    margin-left: 3%;
}

.banner1 p:hover {
    transform: scale(1.02);
    border-left: #ed8975 solid 15px;
    border-radius: 0px;
    transition: 0.3s;
}

.banner1 p:not(:hover) {
    transform: scale(1);
    border-left: #b2e7e8 solid 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.banner1 b {
    color: #ed8975;
}

/* Fim do Banner 1 */

/* Início do "Sobre o Porjeto" */

.sobreProjeto {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    background-color: #304d63;
    height: 1000px;
    border-bottom: #ed8975 solid 2px;
}

.sobreProjeto .container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
}

.sobreProjeto h1 {
    color: #b2e7e8;
    font-size: 62px;
    border-left: #b2e7e8 solid 8px;
    padding-left: 3%;
    border-radius: 8px;
    font-style: italic;
}

.sobreProjeto h1:hover {
    transform: translateY(-4px);
    color: #ed8975;
    border-left: #ed8975 solid 8px;
    border-radius: 0px;
    transition: 0.3s;
}

.sobreProjeto h1:not(:hover) {
    transform: translateY(4px);
    color: #b2e7e8;
    border-left: #b2e7e8 solid 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.sobreProjeto p {
    color: #f2d096;
    font-size: 35px;
    text-align: justify;
}

.sobreProjeto p b {
    color: #ed8975;
}

/* Fim do "Sobre o Porjeto" */

/* Início do "Jogos Clicker / Idle" */

.jogosClicker {
    display: flex;
    flex: 1;
    background-color: #323232;
    height: 2600px;
    align-items: center;
    border-bottom: #ed8975 solid 2px;
}

.jogosClicker .container {
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
}

.jogosClicker h1 {
    color: #b2e7e8;
    font-size: 62px;
    border-left: #b2e7e8 solid 8px;
    padding-left: 3%;
    border-radius: 8px;
    font-style: italic;
}

.jogosClicker h1:hover {
    transform: translateY(-4px);
    color: #ed8975;
    border-radius: 0px;
    border-left: #ed8975 solid 8px;
    transition: 0.3s;
}

.jogosClicker h1:not(:hover) {
    transform: translateY(4px);
    color: #b2e7e8;
    border-radius: 8px;
    border-left: #b2e7e8 solid 8px;
    transition: 0.3s;
}

.jogosClicker p {
    color: #f2d096;
    font-size: 35px;
    text-align: justify;
}

.jogosClicker .subTitulo {
    color: #b2e7e8;
    font-size: 40px;
    font-style: italic;
}

.jogosClicker .subTitulo:hover {
    color: #ed8975;
    transition: 0.3s;
}

.jogosClicker .subTitulo:not(:hover) {
    color: #b2e7e8;
    transition: 0.3s;
}

.jogosClicker p span {
    color: #ed8975;
    font-weight: bold;
}

.jogosClicker .listaJogos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5%;
    align-items: center;
    height: 100%;
}

.jogosClicker .listaJogos a {
    font-size: 35px;
    text-decoration: none;
    color: #b2e7e8;
    font-weight: bolder;
    border-bottom: #b2e7e8 solid 8px;
    border-radius: 8px;
    padding-bottom: 0.2%;
    text-align: center;
}

.jogosClicker .listaJogos a:hover {
    color: #ed8975;
    border-bottom: #ed8975 solid 8px;
    border-radius: 0px;
    transform: scale(1.1);
    transition: 0.3s;
}

.jogosClicker .listaJogos a:not(:hover) {
    color: #b2e7e8;
    border-bottom: #b2e7e8 solid 8px;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.3s;
}

.jogosClicker .line {
    color: #8fb9aa;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

/* Fim do "Jogos Clicker / Idle" */

/* Início do "Teste de Click" */

.testeClick {
    background-color: #304d63;
    height: 1450px;
    border-bottom: #ed8975 solid 2px;
}

.testeClick .container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.testeClick h1 {
    color: #b2e7e8;
    font-size: 62px;
    border-left: #b2e7e8 solid 8px;
    padding-left: 3%;
    border-radius: 8px;
    font-style: italic;
}

.testeClick h1:hover {
    transform: translateY(-4px);
    color: #ed8975;
    border-radius: 0px;
    border-left: #ed8975 solid 8px;
    transition: 0.3s;
}

.testeClick h1:not(:hover) {
    transform: translateY(4px);
    color: #b2e7e8;
    border-radius: 8px;
    border-left: #b2e7e8 solid 8px;
    transition: 0.3s;
}

.testeClick p {
    color: #f2d096;
    font-size: 35px;
    text-align: justify;
}

.testeClick p span {
    color: #ed8975;
    font-weight: bold;
}

.testeClick #btnClicar {
    height: 20%;
    border-radius: 20px;
    border: #ed8975 solid 2px;
    font-size: 60px;
    -webkit-text-stroke: #ed8975 1px;
    font-weight: bold;
    color: #f2d096;
    background-color: #8fb9aa;
}

.testeClick #btnClicar:hover {
    cursor: pointer;
    border: #b2e7e8 solid 2px;
    font-size: 65px;
    -webkit-text-stroke: #b2e7e8 1px;
    color: #ed8975;
    background-color: #f2d096;
    transition: 0.2s;
}

.testeClick #btnClicar:not(:hover) {
    border: #ed8975 solid 2px;
    font-size: 60px;
    -webkit-text-stroke: #ed8975 1px;
    font-weight: bold;
    color: #f2d096;
    background-color: #8fb9aa;
    transition: 0.3s;
}

.testeClick #btnReiniciar {
    margin-top: 2%;
    height: 5%;
    border-radius: 12px;
    border: #ed8975 solid 2px;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: #ed8975 0.3px;
    color: #304d63;
    background-color: #8fb9aa;
}

.testeClick #btnReiniciar:hover {
    cursor: pointer;
    border: #b2e7e8 solid 2px;
    font-size: 35px;
    -webkit-text-stroke: #b2e7e8 0.3px;
    color: #ed8975;
    background-color: #f2d096;
    transition: 0.2s;
}

.testeClick #btnReiniciar:not(:hover) {
    border-radius: 12px;
    border: #ed8975 solid 2px;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: #ed8975 0.3px;
    color: #304d63;
    background-color: #8fb9aa;
    transition: 0.2s;
}

.testeClick #clicksDisplay,
.testeClick #cpsDisplay {
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: #f2d096;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    border: #b2e7e8 solid 2px;
    color: #304d63;
    margin-top: 2%;
    -webkit-text-stroke: #ed8975 0.3px;
}

.testeClick #timer {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
    font-size: 62px;
    background-color: #ed8975;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    border: #b2e7e8 solid 2px;
    color: #304d63;
}

/* Fim do "Teste de Click" */

/* Início do "Pesquisa" */

.pesquisa {
    background-color: #323232;
    flex: 1;
    height: 200px;
    border-bottom: #ed8975 solid 2px;
}

.pesquisa .container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.pesquisa h1 {
    color: #b2e7e8;
    font-size: 62px;
    border-left: #b2e7e8 solid 8px;
    padding-left: 3%;
    border-radius: 8px;
    font-style: italic;
}

.pesquisa h1:hover {
    transform: translateY(-4px);
    color: #ed8975;
    border-radius: 0px;
    border-left: #ed8975 solid 8px;
    transition: 0.3s;
}

.pesquisa h1:not(:hover) {
    transform: translateY(4px);
    color: #b2e7e8;
    border-radius: 8px;
    border-left: #b2e7e8 solid 8px;
    transition: 0.3s;
}

.pesquisa p {
    color: #f2d096;
    font-size: 35px;
    text-align: justify;
}

.pesquisa p b {
    color: #ed8975;
}

.pesquisa h2 {
    color: #b2e7e8;
    font-size: 48px;
    padding-left: 3%;
    margin-bottom: 10%;
    font-style: italic;
}

.pesquisa h2:hover {
    transform: translateY(-4px);
    color: #ed8975;
    transition: 0.3s;
}

.pesquisa h2:not(:hover) {
    color: #b2e7e8;
    transition: 0.3s;
}

.pesquisa .perguntas {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.pesquisa button {
    border: none;
    background-color: #323232;
    color: #ed8975;
    border-left: #b2e7e8 solid 5px;
    border-right: #b2e7e8 solid 5px;
    border-radius: 3px;
    font-weight: bold;
}

.pesquisa #pergunta1 button {
    font-size: 50px;
}

.pesquisa #pergunta2 button {
    font-size: 35px;
}

.pesquisa #pergunta3 button {
    font-size: 33px;
}

.pesquisa #pergunta4 button {
    font-size: 32px;
}

.pesquisa #pergunta5 {
    width: 60%;
}

.pesquisa #pergunta5 button {
    font-size: 22px;
}

.pesquisa button:hover {
    cursor: pointer;
    transform: scale(1.15);
    color: #f2d096;
    transition: 0.3s;
    text-decoration: underline;
    border-left: #f2d096 solid 5px;
    border-right: #f2d096 solid 5px;
    border-radius: 0px;
}

.pesquisa button:not(:hover) {
    color: #ed8975;
    transition: 0.3s;
}

.pesquisa .btns {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.pesquisa .line {
    color: #8fb9aa;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.pesquisa .perguntasBlock {
    border-left: #b2e7e8 solid 8px;
    border-right: #b2e7e8 solid 8px;
    border-radius: 8px;
}

.perguntas .perguntasBlock:hover {
    border-left: #ed8975 solid 8px;
    border-right: #ed8975 solid 8px;
    border-radius: 0px;
    transition: 0.3s;
}

.pesquisa .perguntasBlock:not(:hover) {
    border-left: #b2e7e8 solid 8px;
    border-right: #b2e7e8 solid 8px;
    border-radius: 8px;
    transition: 0.3s;
}

/* Fim do "Pesquisa" */

/* Início do "Meu Jogo Clicker" */

.meuJogo {
    background-color: #323232;
    height: 1000px;
    flex: 1;
    border-bottom: #ed8975 solid 2px;
}

.meuJogo .container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 170px;
}

.meuJogo h1 {
    color: #b2e7e8;
    font-size: 62px;
    border-left: #b2e7e8 solid 8px;
    padding-left: 3%;
    border-radius: 8px;
    font-style: italic;
}

.meuJogo h1:hover {
    transform: translateY(-4px);
    color: #ed8975;
    border-radius: 0px;
    border-left: #ed8975 solid 8px;
    transition: 0.3s;
}

.meuJogo h1:not(:hover) {
    transform: translateY(4px);
    color: #b2e7e8;
    border-radius: 8px;
    border-left: #b2e7e8 solid 8px;
    transition: 0.3s;
}

.meuJogo p {
    color: #f2d096;
    font-size: 35px;
    text-align: justify;
}

.meuJogo p b {
    color: #ed8975;
}

.meuJogo a {
    font-size: 35px;
    text-decoration: none;
    color: #b2e7e8;
    font-weight: bolder;
    border-bottom: #b2e7e8 solid 8px;
    border-radius: 8px;
    padding-bottom: 0.2%;
    text-align: center;
}

.meuJogo a:hover {
    color: #ed8975;
    border-bottom: #ed8975 solid 8px;
    border-radius: 0px;
    transform: scale(1.1);
    transition: 0.3s;
}

.meuJogo a:not(:hover) {
    color: #b2e7e8;
    border-bottom: #b2e7e8 solid 8px;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.3s;
}

.meuJogo #dinheirosClicker {
    display: flex;
    justify-content: center;
}

/* Fim do "Meu Jogo Clicker" */

/* Início do Footer */

.footer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    background-color: #304d63;
    color: #f2d096;
    height: 250px;
    font-size: 20px;
}

.footer .container {
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.footer p {
    text-align: center;
}

.footer p b {
    color: #ed8975;
}

.footer a {
    text-decoration: underline;
    color: #f2d096;
}

.footer a:hover {
    color: #b2e7e8;
    transition: 0.3s;
}

.footer a:not(:hover) {
    color: #f2d096;
    transition: 0.3s;
}

/* Fim do Footer */

/* Início do LogIn */

.login {
    display: flex;
    border-bottom: #ed8975 solid 3px;
    height: 1000px;
    flex: 1;
    background-color: #323232;
}

.login .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
}

.login .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #304d63;
    border: #ed8975 solid 2px;
    border-radius: 20px;
    height: 550px;
    width: 500px;
    box-shadow: #8fb9aa 7px 7px;
}

.login a {
    text-decoration: none;
    color: #ed8975;
    margin-top: 3%;
    font-size: 20px;
}

.login a:hover {
    text-decoration: underline;
    color: #b2e7e8;
    transition: 0.3s;
}

.login a:not(:hover) {
    text-decoration: none;
    color: #ed8975;
    transition: 0.3s;
}

.login h1 {
    color: #ed8975;
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 13%;
    margin-top: 0%;
}

.login p {
    font-size: 25px;
    color: #b2e7e8;
    margin-bottom: 0.5%;
}

.login input {
    border-radius: 10px;
    font-size: 20px;
    width: 75%;
    height: 7%;
    text-align: center;
    border: #ed8975 solid 2px;
}

.login button {
    color: #ed8975;
    background-color: #b2e7e8;
    border-radius: 10px;
    margin-top: 12%;
    border: #ed8975 solid 2px;
    font-size: 35px;
}

.login button:hover {
    cursor: pointer;
    background-color: #f2d096;
    transition: 0.3s;
}

.login button:not(:hover) {
    background-color: #b2e7e8;
    transition: 0.3s;
}

/* Fim do LogIn */

/* Início do Registro */

.registro {
    display: flex;
    border-bottom: #ed8975 solid 3px;
    height: 1000px;
    flex: 1;
    background-color: #323232;
}

.registro .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
}

.registro .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #304d63;
    border: #ed8975 solid 2px;
    border-radius: 20px;
    height: 850px;
    width: 500px;
    box-shadow: #8fb9aa 7px 7px;
}

.registro a {
    text-decoration: none;
    color: #ed8975;
    margin-top: 3%;
    font-size: 20px;
}

.registro a:hover {
    text-decoration: underline;
    color: #b2e7e8;
    transition: 0.3s;
}

.registro a:not(:hover) {
    text-decoration: none;
    color: #ed8975;
    transition: 0.3s;
}

.registro h1 {
    color: #ed8975;
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 13%;
    margin-top: 0%;
}

.registro p {
    font-size: 25px;
    color: #b2e7e8;
    margin-bottom: 0.5%;
}

.registro input {
    border-radius: 10px;
    font-size: 20px;
    width: 75%;
    height: 7%;
    text-align: center;
    border: #ed8975 solid 2px;
}

.registro button {
    color: #ed8975;
    background-color: #b2e7e8;
    border-radius: 10px;
    margin-top: 12%;
    border: #ed8975 solid 2px;
    font-size: 35px;
}

.registro button:hover {
    cursor: pointer;
    background-color: #f2d096;
    transition: 0.3s;
}

.registro button:not(:hover) {
    background-color: #b2e7e8;
    transition: 0.3s;
}

/* Fim do Registro */